//
//  Debug.xcconfig
//  FlickrFeed
//
//  Created by Amber Katyal on 14/01/21.
//  Copyright © 2021 Amber Katyal. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLICKR_API_KEY = "d1179b41a3b2639339e59f6591407667"
FLICKR_API_SECRET = "a6a2a700741c8740"
